@charset 'utf-8';
$point-color : #3950a2;
$bg-color : #ffffff;
$white : #ffffff;
$black : #000000;
$blue-gray : #eef2f7;

/* font */
$ft-main-color : #222222;
$ft-sub-color : #777777;
$ft-nav-color : #25396f;
$ft-danger-color : #dc3545;

/* nav */
$nav-hv-color : #f0f1f5;

/* input */
$bd-input-color : #dce7f1;
$ft-input-ph-color : #6c757d;
$disabled-color : #e9ecef;