/*-------------------------------------------------------------------------------------------------------------
    Explain : 지앤파트너 통합관리자
    File : common.scss
    Date : 2024.12.30
    Ver : 1.0.0
/*------------------------------------------------------------------------------------------------------------*/
@import "_colors";
@import "_images";
@import "_components";

@import "_reset";
@import "_contents";

/* 메뉴별 */
@import "_login";
